<div style="border: 3px solid #73AD21; width: 50%; margin: auto; padding: 10px;">
<h1 class="LC20lb DKV0Md" style="text-align: center;"><em>mY branD</em></h1>
<h2 style="color: #2e6c80; text-align: center;">Order Updates</h2>
<p style="text-align: center;">Hey {{customer.firstname}} {{customer.lastname}},</p>
<p style="text-align: center;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 50%;">Order id&nbsp;</td>
<td style="width: 50%;">{{}}</td>
</tr>
<tr>
<td style="width: 50%;">Tracking Id</td>
<td style="width: 50%;">{{}}</td>
</tr>
<tr>
<td style="width: 50%;">Status</td>
<td style="width: 50%;">{{}}</td>
</tr>
<tr>
<td style="width: 50%;">Remarks</td>
<td style="width: 50%;">{{}}</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="http://tracking.com">Track Your Order</a></p>
<p style="text-align: center;">Thank you for visiting <strong><em>mY branD. <br /></em></strong></p>
<p style="text-align: center;"><strong>For any help please <a href="mailto:contact@1800-00-2222">contact@1800-00-2222</a></strong></p>
<p style="text-align: center;"><strong>or write to help@mybrand.com</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
</div>